body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    
    border: 10px solid black;
    border-radius: 15px;
    height: 600px;
    width: 600px;
}

.box{
    box-sizing: border-box;
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid black;
}
